@media (min-width: 640px) {
  .h2T {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 1rem;
  }
  .labelT {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .inputT {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .inputButtonT {
    width: 50%;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
